<div class="flex-column">
  <div class="col-md-4">
	<h1>Whatever you want, you can <%= image_tag ("logo80px.png"), link_to: root_path, width:'100 px', display: 'block'%>
	</h1>
	<h3>A web page by: Israel Cea & Johnny Donoso</h3>
	</div>
</div>

