<link rel="stylesheet" href="navStylesheet.css">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">COMPLAIN!</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/" >Home</a></li>
      <li><a href="/posts">COMPLAINS</a></li>
      <li><a href="/profile/userprofile">Profile</a></li>
      <li><a href="/users">Users</a></li>
      <li><a href="/admin/admins">Admins</a></li>
      <li><a href="/dumpster/thedumpster">The Dumpster</a></li>
      <li><a href="/blacklist/theblacklist">Blacklist</a></li>
    </ul>
  </div>
</nav>
